# Ruby
*.gem
*.rbc
.bundle
vendor/bundle

# Rails
log/*
tmp/*
storage/*
public/assets
public/packs
.byebug_history

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Database
config/database.yml

# Node
node_modules

# IDE
.vscode
.idea

master.key